# DB Settings
PGHOST=localhost
PGPORT=5432
PGDATABASE=devices
PGUSER=yourUser
PGPASSWORD=yourPassword

# JWT Token Settings
JWT_PRIVATE_KEY_PATH=./keys/private.pem
JWT_PUBLIC_KEY_PATH=./keys/public.pem
EXPIRES_IN=15m
ISSUER=name-your-auth-service
AUDIENCE=IOT-name-your-apis